{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/note_lists.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
    <style>
    </style>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
        <div class="container">
            <a class="navbar-brand" href="{% url 'note_list' %}">
                <img src="{% static 'image/Screenshot_2023-09-22_182248-removebg-preview.png' %}" alt="logo" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="search">
                                <input type="search" placeholder="Search your note">
                            </div>
                            
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <p>{{ user.get_full_name }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:custom_logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block nav %}
        {% endblock nav%}
    </div>
    
    <a href="{% url 'create_note' %}">Create New Note</a>
    
    <h1>My Notes</h1>
    <ul>
        {% for note in notes %}
        <li>
            <a href="{% url 'note_detail' note.id %}">
                <strong>{{ note.title }}</strong><br>
            </a>
            {{ note.content }}
        </li>
        {% endfor %}
    </ul>


    




    
</body>
</html>
